.psci*
bower_components/
output/
output-es/
.psc-package
.psc-ide-port
.purs-repl
node_modules/
dist/

generated-docs/html/*
generated-docs/md/*
!generated-docs/md/Graphics.Drawing.Font.md
!generated-docs/md/Graphics.Drawing.md
